// Font Style
@mixin font-style($fontFamily, $fontSize, $fontWeight, $lineHeight, $color) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $color;
}

// Center Block
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Position
@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// Clearfix
@mixin clearfix() {
  content: "";
  display: table;
  table-layout: fixed;
}

@mixin clearfix-after() {
  content: "";
  display: block;
  clear: both;
}