.caption {
  display: block;
  margin-top: .5rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: $color__dark-gray;
  line-height: 2.3rem;
  text-align: center;

  a {
    color: $color__dark-gray;
    transition: .35s;

    &:hover {
      color: $color__gray;
    }
  }
}