@media only screen and (min-width: 600px) {

  // Containers
  .menu-content-container {
    .container {
      padding: 0 120px;
    }
  }

  .main-container {
    margin-top: 157px;
  }

  .navbar-container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .container {
    padding-left: 150px;
    padding-right: 150px;
  }

  // Navigation
  .search {
    display: block;
  }


  // Article
  .article-sticky-post {
    padding: 0 113px;

    .container {
      padding: 26px;
      border-width: 11px;
    }
  }
}