$color__white: #fff;
$color__light: #f5f5f5;
$color__gray: #dadada;
$color__dark-gray: #919191;
$color__dark: #000;

$color__background: #fff;
$color__background-oposite: #262626;
$color__background-oposite-dark: #1c1c1c;

$color__primary: #a58955;
$color__primary-hover: #846D44;

$color__copyrights: #4D4D4D;
$color__social-icons: #313131;
$color__underline: #808080;